@charset "UTF-8";

body {
	background-image: url('/img/darkforest.jpg');
	background-repeat: no-repeat;
 	background-attachment: fixed;
	background-size: 100% 100%;
	color: white;
}
h1, h3 { 
	text-shadow: 2px 2px #ff0000; 
} 

h5 {
	text-shadow: 2px 2px black;
}

.createtext1, .createtext2, .createtext3 {
	margin-top: 15px;
}

.createtext2 {
	margin-left: 15px;
}

.createtext3 {
	margin-right: 40px;
}
