@charset "UTF-8";

body {
	background-image: url('/img/darkforest.jpg');
	background-repeat: no-repeat;
 	background-attachment: fixed;
	background-size: 100% 100%;
	color: white;
}
h1, h3 { 
	text-shadow: 2px 2px #ff0000; 
} 

h5 {
	text-shadow: 2px 2px black;
}

.icon {
    height: 200px;
    width: 200px;
}

.campfire {
    height: 200px;
    width: 300px;
}

.icontop {
    height: 200px;
    width: 200px;
    margin-top: 150px;
}